
body {
  font-size: 14px;
}
.Page {
  width: 100%;
  height: 100%;
  top:0%;
  left:0%;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(rgba(0,255,132,1), rgba(62,251,160,1));
}
.BottomCircle {
  width: 60%;
  height: 120%;
  background: linear-gradient(rgba(66,255,0,0.4000000059604645), rgba(153,255,117,0.6899999976158142));
  opacity: 1;
  position: absolute;
  top:25%;
  left:25%;
  border-radius: 50%;
}
.StartQuizBox {
  width: 40%;
  height: 10%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 80%;
  left: 35%;
  border-top-left-radius: 119px;
  border-top-right-radius: 119px;
  border-bottom-left-radius: 119px;
  border-bottom-right-radius: 119px;
  overflow: hidden;
}
.StartQuizBox:hover
{
  background: aliceblue;
}
.StartQuizText {
  width: 100%;
  top:13%;
  font-size: 3vw;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Montserrat;
  font-weight: Medium;
  opacity: 1;
  text-align: center;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.ContactUsBox {
  width: 20%;
  height: 10%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6%;
  left: 52.5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.AboutUsBox {
  width: 20%;
  height: 10%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6%;
  left: 30%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.QuerryFormBox {
  width: 20%;
  height: 10%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6%;
  left: 75%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.ContactUsText {
  width: 100%;
  height: 100%;
  top:15%;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 2.5vw;
  opacity: 1;
  text-align: center;
  justify-content: center;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.AboutUsText {
  width: 100%;
  top:15%;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 2.5vw;
  opacity: 1;
  text-align: center;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.QuerryFormText {
  width: 100%;
  top:15%;
  font-size: 2.5vw;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Montserrat;
  font-weight: Medium;
  opacity: 1;
  text-align: center;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.Logo {
  width: 10%;
  height: 20%;
  background: url("http://www.clipartbest.com/cliparts/4ib/LRz/4ibLRzjKT.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.StudentImage {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 32%;
  left: 35%;
  overflow: hidden;
}