body
{
    overflow: hidden;
    margin: 0%;
    background: #81D2C7;
}

.topBox
{
    margin: auto;
    position: absolute;
    width: 100%;
    height: 20%;
    background: #A4FFFA;
    align-items: center;
    text-align: center;
}

.Question
{
    position: absolute;
    width: 100%;
    height: 100%;

    font-family: Solway;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;

    color: #000000;
}